{% include 'header.html' %}
{% include 'navbar.html' %}

    <main class="about-page">
        <div class="container">
            <h1 class="oleez-page-title wow fadeInUp">O Nás</h1>
            <p class="oleez-page-header-content wow fadeInUp"></p>
            <img src="static/images/About/office.png" alt="about" class="w-100 wow fadeInUp">
            <section class="oleez-about-features">
                <div class="row">
                    <div class="col-md-4 mb-5 mb-md-0 feature-card wow fadeInUp">
                        <h5 class="feature-card-title">Náš příběh</h4>
                        <p class="feature-card-content">"Setkejte se s naším týmem čtyř statečných a inovativních blogerek a blogerů. Každý z nich má svůj unikátní pohled na svět a spojuje je jedno poslání - informovat čtenáře o tom, co je důležité a zajímavé. Jsou to nebojácní redaktoři, kteří se nebojí jít proti proudu a zveřejňovat i neotřelé názory, což dělá jejich články jedinečnými a strhujícími.  </p>
                    </div>
                    <div class="col-md-4 mb-5 mb-md-0 feature-card wow fadeInUp">
                        <h5 class="feature-card-title">Naše mise</h4>
                        <p class="feature-card-content">Naším posláním na hotspotu je odhalovat úžasné příběhy. Chceme, aby naši čtenáři byli neustále v obraze o nejnovějších trendech a událostech. Chceme přinášet kvalitní čtenářský zážitek plný informací. Snažíme se najít skryté poklady a poskytnout jedinečný pohled na svět kolem nás. Cílem je inspirovat a bavit naše čtenáře, a to tím, že jim nabídneme nejlepší a nejzajímavější příběhy ze všech koutů světa.
 </p>
                    </div>
                    <div class="col-md-4 mb-5 mb-md-0 feature-card wow fadeInUp">
                        <h5 class="feature-card-title">Naše hodnoty</h4>
                        <p class="feature-card-content"> Informační povaha. 
                            Jedinečný pohled na svět.
                            Neustálé sledování nejnovějších trendů a událostí. Kvalitní čtenářský zážitek. Hledání skrytých.pokladů. Inspirace a zábava pro čtenáře. Nabízení nejlepších a nejzajímavějších příběhů ze všech koutů světa. </p>
                    </div>
                </div>
            </section>
            <section class="oleez-landing-section oleez-landing-section-team">
            <div class="container">
                <div class="oleez-landing-section-content">
                   
                    <div class="row landing-team-content wow fadeInUp">
                        <div class="col-md-6">
                            <h2 class="section-title">To Jsme My </h2>
                            <h5 class="section-title">Nebo to jak nás vidí umělá inteligence</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-5 mb-md-0 landing-team-card wow flipInY">
                            <img src="static/images/Michaela_simkova.png" alt="Team Member" class="team-card-img">
                            <h5 class="team-card-name">Michaela Šimková</h5>
                            <p class="team-card-job">Redaktorka</p>
                            <nav class="team-card-social-links">
                                <a href="#!">Fb</a>
                                <a href="#!">Tw</a>
                                <a href="#!">In</a>
                            </nav>
                        </div>
                        <div class="col-md-4 mb-5 mb-md-0 landing-team-card wow flipInY">
                                <img src="static/images/Klara_jankova.png" alt="Team Member" class="team-card-img">
                                <h5 class="team-card-name">Klára Janková</h5>
                                <p class="team-card-job">Redaktorka</p>
                                <nav class="team-card-social-links">
                                    <a href="#!">Fb</a>
                                    <a href="#!">Tw</a>
                                    <a href="#!">In</a>
                                </nav>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-5 mb-md-0 landing-team-card wow flipInY">
                                <img src="static/images/Adam_horak.png" alt="Team Member" class="team-card-img">
                                <h5 class="team-card-name">Adam Horák</h5>
                                <p class="team-card-job">Redaktor</p>
                                <nav class="team-card-social-links">
                                    <a href="#!">Fb</a>
                                    <a href="#!">Tw</a>
                                    <a href="#!">In</a>
                                </nav>
                        </div>
                         <div class="col-md-4 mb-5 mb-md-0 landing-team-card wow flipInY">
                                <img src="static/images/petr_stepan.png" alt="Team Member" class="team-card-img">
                                <h5 class="team-card-name">Petr Štěpán</h5>
                                <p class="team-card-job">Redaktor</p>
                                <nav class="team-card-social-links">
                                    <a href="#!">Fb</a>
                                    <a href="#!">Tw</a>
                                    <a href="#!">In</a>
                                </nav>
                    </div>
                </div>
            </div>
        </section>
        </div>
    </main>


{%  include 'footer.html' %}