{% include 'header.html' %}
{% include 'navbar.html' %}


    <main class="blog-standard">
        <div class="container">
            <h1 class="oleez-page-title wow fadeInUp">Příspěvek</h1>
            <div class="row">
                <div class="col-md-8">
                    {% for blog_post in blog_posts %}
                    <article class="blog-post wow fadeInUp">
                        <img src="/static/images/blog_images/{{blog_post.picture_name}}" alt="blog post" class="post-thumbnail">
                        <p class="post-date">{{blog_post.date_published}}</p>
                        <h4>{{blog_post.title}}</h4>
                        <p><strong>{{blog_post.subtitle}}</strong></p>
                        <p>{{blog_post.content}}</p>
                        <blockquote class="blockquote wow fadeInUp">
                            <p><strong>{{blog_post.quotes}}</strong></p>
                        </blockquote>
                        <p>{{blog_post.content2}}</p>
                        <br/>
                        <p class="post-date">Autor:{{blog_post.author}}</p>
                    </article>
                    {% endfor %}
                   
                    <nav class="oleez-pagination d-flex align-items-center justify-content-center wow fadeInUp">

                        {% if blog_posts.has_previous %}
                        <a href="?page={{blog_posts.previous_page_number}}">&larr;</a>
                        {% endif %}
                         <a href="?page={{blog_posts.number }}" class='active'>{{ blog_posts.number }}</a>
                        {% if blog_posts.has_next %}
                        <a href="?page={{ blog_posts.next_page_number}}">&rarr;</a>
                        {% endif %}
                    </nav>
                </div>
                
                 <div class="col-md-4">
                        <div class="sidebar-widget wow fadeInUp">
                            <h5 class="widget-title">Tagy</h5>
                            <div class="widget-content">
                                {% for blog_post in blog_posts %}
                                <a href="#!" class="post-tag">{{blog_post.tag1 }}</a>
                                <a href="#!" class="post-tag">{{blog_post.tag2|default_if_none:"1" }}</a>
                                <a href="#!" class="post-tag">{{blog_post.tag3|default_if_none:"1" }}</a>
                                <a href="#!" class="post-tag">{{blog_post.tag4|default_if_none:"1" }}</a>
                                <a href="#!" class="post-tag">{{blog_post.tag5|default_if_none:"1" }}</a>
                                <a href="#!" class="post-tag">{{blog_post.tag6|default_if_none:"1" }}</a>
                                <a href="#!" class="post-tag">{{blog_post.tag7|default_if_none:"1" }}</a>
                                <a href="#!" class="post-tag">{{blog_post.tag8|default_if_none:"1" }}</a>
                                <a href="#!" class="post-tag">{{blog_post.tag9|default_if_none:"1" }}</a>
                                <a href="#!" class="post-tag">{{blog_post.tag10|default_if_none:"1" }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="sidebar-widget wow fadeInUp">
                            <h5 class="widget-title">Galerie</h5>
                            <div class="widget-content">
                                <div class="gallery">
                                    {% for blog_post in blog_posts %}
                                    <a href="/static/images/blog_images/{{blog_post.picture_name}}" class="gallery-grid-item" data-fancybox="widget-gallery">
                                        <img src="/static/images/blog_images/{{blog_post.picture_name}}" alt="gallery item">
                                    {% endfor %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    <div class="sidebar-widget wow fadeInUp">
                            <h5 class="widget-title">Kategorie</h5>
                            <div class="widget-content">
                                {% for blog_post in blog_posts %}
                                <ul class="category-list">
                                    <li><a href="#!">{{blog_post.category1}}</a></li>

                                    <li><a href="#!">{{blog_post.category2}}</a></li>

                                    <li><a href="#!">{{blog_post.category3}}</a></li>
                                </ul>
                            {% endfor %}    
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% include 'footer.html' %}