{% include 'header.html' %}
{% include 'navbar.html' %}

    <main class="portfolio-masonry-page">
        <div class="container">
            <h1 class="oleez-page-title wow fadeInUp">Masonry List</h1>
            <div class="grid clearfix">
                <div class="grid-sizer"></div>
                <a href="static/images/Masonary/Mask@2x.jpg" class="grid-item wow fadeInUp" data-fancybox="masonry-gallery">
                    <img src="static/images/Masonary/Mask@2x.jpg" alt="grid item">
                </a>
                <a href="static/images/Masonary/Mask_Copy@2x.jpg" class="grid-item col-span-2 row-span-2 wow fadeInUp" data-fancybox="masonry-gallery">
                    <img src="static/images/Masonary/Mask_Copy@2x.jpg" alt="grid item">
                </a>
                <a href="static/images/Masonary/Mask_Copy_2@2x.jpg" class="grid-item row-span-2 wow fadeInUp" data-fancybox="masonry-gallery">
                    <img src="static/images/Masonary/Mask_Copy_2@2x.jpg" alt="grid item">
                </a>
                <a href="static/images/Masonary/Mask_Copy_3@2x.jpg" class="grid-item row-span-2 wow fadeInUp" data-fancybox="masonry-gallery">
                    <img src="static/images/Masonary/Mask_Copy_3@2x.jpg" alt="grid item">
                </a>
                <a href="static/images/Masonary/Mask_Copy_4@2x.jpg" class="grid-item wow fadeInUp" data-fancybox="masonry-gallery">
                    <img src="static/images/Masonary/Mask_Copy_4@2x.jpg" alt="grid item">
                </a>
                <a href="static/images/Masonary/Mask_Copy_5@2x.jpg" class="grid-item col-span-2 wow fadeInUp" data-fancybox="masonry-gallery">
                    <img src="static/images/Masonary/Mask_Copy_5@2x.jpg" alt="grid item">
                </a>
                <a href="static/images/Masonary/Mask_Copy_6@2x.jpg" class="grid-item row-span-2 col-span-2 wow fadeInUp" data-fancybox="masonry-gallery">
                    <img src="static/images/Masonary/Mask_Copy_6@2x.jpg" alt="grid item">
                </a>
                <a href="static/images/Masonary/Mask_Copy_7@2x.jpg" class="grid-item row-span-2 wow fadeInUp" data-fancybox="masonry-gallery">
                    <img src="static/images/Masonary/Mask_Copy_7@2x.jpg" alt="grid item">
                </a>
                <a href="static/images/Masonary/Mask_Copy_8@2x.jpg" class="grid-item wow fadeInUp" data-fancybox="masonry-gallery">
                    <img src="static/images/Masonary/Mask_Copy_8@2x.jpg" alt="grid item">
                </a>
                <a href="static/images/Masonary/Mask_Copy_9@2x.jpg" class="grid-item wow fadeInUp" data-fancybox="masonry-gallery">
                    <img src="static/images/Masonary/Mask_Copy_9@2x.jpg" alt="grid item">
                </a>
            </div>
        </div>
    </main>
    
   {% include 'footer.html' %}